@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

{
 margin: 0px;
 padding: 0px;
}

header
{

}
.main-nav
{
  float:right;
  list-style: none;

}

.main-nav li
{
  display: inline-block;
}
.main-nav li a
{
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
}

.main-nav li.active a
{
  border: 1px solid orange;
}

.main-nav li a:hover
{
  border: 1px solid orange;
}

.dream
{
  width: 1200px;
  font-family: 'Montserrat';
}

.row
{
  max-width: 1200px;
  margin-top: 55px;
  margin-left: 150px;
  margin-right: 250px;
}

h1
{
  text-shadow: -0.06em 0 #E91E63, 0.06em 0 #18FFFF;
  font-size: 35px;
  margin-top: 12px;
  margin-left: 250px;
  margin-right: 150px;

}
